@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@layer components {
  .chartTitle {
    @apply text-center md:text-sm text-xs mb-5;
  }

  .chartSubtitle {
    @apply text-center text-xs;
  }

  .inline-textbox {
    @apply appearance-none inline bg-gray-200 text-gray-700 border
      border-gray-200 rounded px-1 mx-1 py-0 leading-tight focus:outline-none focus:bg-white focus:border-gray-500;
  }

  .inline-select {
    @apply inline bg-gray-200 text-gray-700 border
    border-gray-200 rounded mx-2 py-0 leading-tight focus:outline-none focus:bg-white focus:border-gray-500;
  }

  .form-group {
    @apply mb-2;
  }

  .form-label {
    @apply block  mb-1;
  }

  .select {
    @apply text-gray-700 block w-full bg-white border
      border-gray-400 hover:border-gray-500 px-2 py-0.5 pr-2 rounded shadow
      leading-tight focus:outline-none;
  }

  .textbox {
    @apply appearance-none block w-full bg-gray-200 text-gray-700 border
      border-gray-200 text-sm rounded text-xs px-2 py-0 pr-2 leading-tight focus:outline-none focus:bg-white focus:border-gray-500;

    &.error {
      border: 1px solid red;
    }
  }

  .table-row {
    user-select: none;
    overflow: hidden;
    @apply border-t  dark:border-gray-700 hover:cursor-pointer hover:bg-gray-500;
  }

  .sub-table-row {
    user-select: none;
    overflow: hidden;
    @apply hover:cursor-pointer hover:bg-gray-500;
  }
}
